In [52]:
import pandas as pd
data = pd.read_csv("scored_text.csv")

In [53]:
data

,org_text,use_word,concrete_score
0,＊＊＊の町というのはちいちゃくって、城壁がこう町全体をぐるっと回ってて、それが城壁の上を歩い...,"['それ', '上', '町']",376.50
1,１時間かからないぐらいだね。,[],NaN
2,４、５０分で。,['分'],391.00
3,そうそう。,[],NaN
4,ほいでさあ、ずっと歩いていたんだけど、そうすと上から、なんか町の中が見れるじゃん。,"['上', '町']",430.75
...,...,...,...
822,そうだね。,[],NaN
823,これちょっとすてきに撮れた。,['これ'],281.50
824,なんかこれシャッターチャンスがさ、逃すんだよね。,"['これ', 'シャッター']",414.50
825,遅いもんでさあ。,[],NaN
826,反応が。,[],NaN

In [68]:
data = data[data["concrete_score"].notnull()].reset_index(drop=True)

In [69]:
import ast
data["use_word_num"] = data["use_word"].apply(lambda x : len(ast.literal_eval(x)))
data["use_word_num"].mean()

1.3977695167286246

In [64]:
data.shape

(827, 4)

### 具体度が高い文章10件、推論なし

In [65]:
data.sort_values("concrete_score", ascending=False).head(10)

,org_text,use_word,concrete_score,use_word_num
341,それでたっぷりミルクを入れてミルク、必ずミルクティーでー。,['ミルク'],654.0,1
313,あとトマトも出るんだ。,['トマト'],636.0,1
227,３つベッドが、３つベッドがあって。,['ベッド'],635.0,1
253,ベッドとブレックファストがついてる。,['ベッド'],635.0,1
603,ジャケット。,['ジャケット'],623.0,1
405,ジャケットポテト。,"['ジャケット', 'ポテト']",623.0,2
585,冷えたポテトだもんね。,['ポテト'],623.0,1
392,はーとか思って、なんかさあ、ジャケッツってさあ、ジャケットポテ、普通は、ＤとかＣに聞いたら、...,"['ジャケット', 'ポテト']",623.0,2
403,あたしはジャケット。,['ジャケット'],623.0,1
433,あー、さめたポテトはね。いけてないねー。,['ポテト'],623.0,1

### 具体度が低い文章10件、推論なし

In [71]:
data.sort_values("concrete_score", ascending=True).head(10)

,org_text,use_word,concrete_score,use_word_num
186,どこまで行くって言えばよかった。,['どこ'],255.5,1
264,私どこを見てるんだろう。,['どこ'],255.5,1
119,どこなんだろう。,['どこ'],255.5,1
51,そういうときに調子よくさあ、大丈夫、大丈夫みたいな感じでね、ＯＫとかって、＊じゃあと＊でーと...,['大丈夫'],257.0,1
210,だからその前の日のジャケッツであたしは懲りているわけよ。,['前'],258.0,1
146,ほいでさあ、そいでさあ、私さあ、その前の日におなかの調子が、胃の調子が悪くって、その冷たいサ...,['前'],258.0,1
189,勝手に思って、すぐ止ま、だか、その前がちょんちょん止まってたもんで、すぐ止まると思ったんだ。,['前'],258.0,1
199,その前に、だからあたしはロイヤルドルトンでお昼を食べたの。,['前'],258.0,1
129,そしたらＣとだんなさんが一緒に来てくれて、ね、でね、この日のね夜に、あたしはその前の日にチェ...,['前'],258.0,1
8,すごい古いんだけど、こん中に。（おー）,['こん'],259.5,1